A[href*="http://"]
{
	background: url(external.png) center right no-repeat;
	padding-right: 13px;
}

A
{
	color : #330000;
	background-color : #FFFFCC;
}

A:Visited
{
	color : #330000;
	background-color : #FFFFCC;
}

A:Hover
{
	color : #FFFFCC;
	background-color : #666633;
}

h2
{
	margin-top: 0;
}

img
{
	border : 0;
}

body
{
	font-family : Verdana,sans-serif;
	font-size : 0.9em;
	margin: 0px;
	padding: 0px;
	background : #CCCC99 url(pageshadow.png) repeat-y;
	color : #330000;
	background-position: center center;
	_border-left: #BEBE8F 1px solid; /* IE hack */
}

#page
{
	padding : 0px 0px 0px 0px;
	margin: auto;
	width: 650px;
	text-align: center;
}

#header
{
	background : url(header.png) left top no-repeat;
	padding: 40px 40px 0px 0px;
	margin: 0px;
	height: 135px;
	text-align: right;
}

#title
{
	font-size : 52px;
	font-weight: bold;
}

#tagline
{
	margin: -3px 0 30px 0;
	font-size : 15px;
	font-weight: bold;
}

#navigationlist
{
	padding: 0;
}

#navigationlist li
{
	display: inline;
}

#navigationlist a
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 0.9em;
	color: #FFFFCC;
	padding: 3px 6px;
	margin: 1px;
	background-color: #999966;
	border-bottom: #FFFFCC 1px solid;
	text-decoration: none;
}

#navigationlist A.external
{
	padding-right: 13px;
}

#navigationlist a:hover
{
	color: #FFFFCC;
	background-color : #666633;
}

#navigationlist .selected
{
	color: #666633;
	background-color : #FFFFCC;
	border-color: #999966;
	border-style: solid;
	border-width: 1px 1px 0px 1px;
}

#content
{
	padding: 20px 40px 40px 40px;
	margin: 0px;
	text-align: left;
}

#content li
{
	margin: 17px 0px 0px 0px;
}

#content ul
{
	padding: 0px 0px 0px 30px;
	margin: 0px;
}

#footer
{
	clear: both;
}

.fileformats
{
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 5px 10px;
	border: 1px solid #330000;
	background-color: #ffffff;
	color : #330000;
}

#screenshotthumbs a
{
	float: left;
	text-align: center;
	padding: 5px;
	margin: 10px;
}